
<div [ngClass]="status ? 'toggled' : ''" class="d-flex" id="wrapper">

  <div  id="sidebar-wrapper">
      <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><i
              class="fas fa-user-secret me-2"></i>Admin</div>
      <div class="list-group list-group-flush my-3">

          <a  class="list-group-item list-group-item-action bg-transparent  fw-bold"><i
              class="fas fa-power-off me-2"></i>ACCUEIL</a>
                  
                      
              <a href="/login" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold" (click)="logout()"><i
                class="fas fa-power-off me-2"  ></i>Déconnexion</a>
      </div>
  </div>

  

  <div id="page-content-wrapper">



      
      <nav class="navbar navbar-expand-lg navbar-light  py-4 px-4" id="tete">
        <div class="d-flex align-items-center">
          <a href="/admin" class="list-group-item bg-transparent second-text fw-bold me-3">
              <i class="fas fa-user-tie"></i> Evènement
          </a>
          <a href="/bureau-list-route" class="list-group-item bg-transparent second-text fw-bold me-3">
              <i class="fas fa-building"></i> 
          </a>
          <a href="/fokotany-list-route" class="list-group-item bg-transparent second-text fw-bold me-3">
              <i class="fas fa-map-marker-alt"></i> 
          </a>
          <a href="/emplacement-list-route" class="list-group-item bg-transparent second-text fw-bold me-3">
              <i class="fas fa-location-arrow"></i>
          </a>
          <a href="/listecandidat-list-route" class="list-group-item bg-transparent second-text fw-bold me-3">
              <i class="fas fa-list"></i> 
          </a>
          <a href="/registre-list-route" class="list-group-item bg-transparent second-text fw-bold me-3">
              <i class="fas fa-book"></i> 
          </a>
      </div>



          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
         
      
        </nav>

        <div class="d-flex align-items-center" id="titre">
                
          <h2 class="fs-2 m-0"></h2>
      </div>

      <div class="container-fluid px-4">
          <div class="row g-3 my-2">
              <div class="col-md-3">
                  <div class=>
                      <div>
                          <h3 class="fs-2"></h3>
                          <p class="fs-5"></p>
                      </div>
                      <i class=></i>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class=>
                      <div>
                          <h3 class="fs-2"></h3>
                          <p class="fs-5"></p>
                      </div>
                      <i
                          class=></i>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class=>
                      <div>
                          <h3 class="fs-2"></h3>
                          <p class="fs-5"></p>
                      </div>
                      <i class=></i>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class=>
                      <div>
                          <h3 class="fs-2"></h3>
                          <p class="fs-5"></p>
                      </div>
                      <i class=></i>
                  </div>
              </div>
          </div>
         


<!-- rgb(209, 207, 207); -->




<div id="crud">
<!-- The toolbar of our app -->
<mat-toolbar id="mattool">
  <span>Listes des évènements </span>
  <span class="example-spacer"></span>
  <button mat-raised-button style="background-color: green;" (click)="openAddEditEmployeeDialog()">ADD EVENEMENT</button>
 </mat-toolbar>
 <!-- The body of our app -->
 <div class="main-body">
     <!-- The filter section -->
     <mat-form-field aria-haspopup="outline">
       <mat-label>Filter</mat-label>
       <input matInput (keyup)="applyFilter($event)" placeholder="i.e David Smith" #input>
     </mat-form-field>
     <!-- The employee details table -->
     <div class="table-container">
       <table mat-table [dataSource]="dataSource" matSort>
         <ng-container matColumnDef="id">
           <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
           <td mat-cell *matCellDef="let row"> {{row.id}} </td>
         </ng-container>
         <ng-container matColumnDef="titre_Even">
           <th mat-header-cell *matHeaderCellDef mat-sort-header> Titre </th>
           <td mat-cell *matCellDef="let row"> {{row.titre_Even}}</td>
         </ng-container>
          <ng-container matColumnDef="descri_Even">
           <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
           <td mat-cell *matCellDef="let row"> {{row.descri_Even}}</td>
         </ng-container>
          <ng-container matColumnDef="lieu_Even">
           <th mat-header-cell *matHeaderCellDef mat-sort-header> Lieu </th>
           <td mat-cell *matCellDef="let row"> {{row.lieu_Even}}</td>
         </ng-container>
          <ng-container matColumnDef="date">
           <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
           <td mat-cell *matCellDef="let row"> {{row.date}}</td>
         </ng-container>
          <ng-container matColumnDef="capacite_Even">
           <th mat-header-cell *matHeaderCellDef mat-sort-header> Capacité </th>
           <td mat-cell *matCellDef="let row"> {{row.capacite_Even}}</td>
         </ng-container>
          <ng-container matColumnDef="categorie_Even">
           <th mat-header-cell *matHeaderCellDef mat-sort-header>Catégorie </th>
           <td mat-cell *matCellDef="let row"> {{row.categorie_Even}}</td>
          </ng-container>
          <ng-container matColumnDef="action">
           <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
           <td mat-cell *matCellDef="let row">
            <i 
             class="fas fa-edit text-primary action-icon small-icon" 
             title="Éditer" 
             (click)="openEditForm(row)" >
           </i>
          <i class="action-icon" class="fas fa-trash-alt text-danger action-icon small-icon" 
           title="Supprimer" (click)="showDeleteModal( row.id)"></i>
         
       
         
           </td>
         </ng-container>
  
        
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
         <!-- This row will be shown when there is no matching data. -->
         <tr class="mat-row" *matNoDataRow>
           <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
         </tr>
       </table>


       <div class="modal" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirmation de suppression</h5>
              <button type="button" class="close" >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Êtes-vous sûr de vouloir supprimer cet évènement ?
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger" (click)="deleteEvenement(selectedEventId); hideDeleteModal()">OUI</button>
              <button type="button" class="btn btn-secondary"   (click)="hideDeleteModal()">NON</button>
            </div>
          </div>
        </div>
        </div>
  
       <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
     </div>
   </div>

  </div>