<div mat-dialog-title>
  <h1>{{data ? 'Edit': 'Add'}} Employee Form </h1>
</div>
<form [formGroup]="formgroup" (ngSubmit)="saveEvenement()">
  <div mat-dialog-content class="content">
      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>Titre:</mat-label>
              <input matInput  placeholder="i.e David" formControlName="titre_Even">
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Description:</mat-label>
              <input matInput placeholder="i.e Smith" formControlName="descri_Even">
          </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Catégorie:</mat-label>
          <input matInput  placeholder="i.e David" formControlName="categorie_Even">
      </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Date:</mat-label>
              <input matInput type="datetime-local"  step="1" formControlName="date">
              <mat-hint>MM/DD/YYYY H:i:s</mat-hint>
            
              
          </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Lieu:</mat-label>
            <input matInput  placeholder="i.e David" formControlName="lieu_Even">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Capacité:</mat-label>
            <input matInput placeholder="i.e Smith" type="number" formControlName="capacite_Even">
        </mat-form-field>
    </div>
     
     
    
  </div>
  <div mat-dialog-actions class="action-btns">
      <button style="margin: 10px;" mat-raised-button color="accent" type="submit">{{data ? 'Update': 'Save'}}</button>
      <button mat-raised-button type="button" color="warn" [mat-dialog-close]="false">Cancel</button>
  </div>
</form>